<h1 id="loading">取得中</h1>
<div id="container" class="hidden">
  <!-- <div id="container"> -->
  <h1 id="title">問題<span id="title__num">1</span></h1>
  <h2 id="genre">[ジャンル]<span id="genre__detail"> Entertainment: Video Games
    </span>
  </h2>
  <h2 id=difficulty>[難易度]<span id=difficulty__detail> SDF
    </span></h2>
</div>

<hr id="quiz">
<span id="quiz__content">少々お待ち下さい</span>
<hr>
<ul id="answers" class="hidden">
  <li id="homeBtn" class="hidden changePage"><button><a href="/">ホームに戻る</a></button></li>
  <li><button class="choice" data-number="0">dummy</button><br></li><br>
  <li><button class="choice" data-number="1">dummy</button><br></li><br>
  <li><button class="choice" data-number="2">dummy</button><br></li><br>
  <li><button class="choice" data-number="3">dummy</button><br></li><br>
</ul>
